.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.paginationButtons a {
  padding: 10px;
  margin: 1.2vw;
  border-radius: 10%;
  border: 1px solid #ffffff00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000214;
  cursor: pointer;
  transition: 0.3s;
}

.paginationButtons a:hover {
  color: #ffffff;
  transition: 0.3s;
  background-color: #404041;
  border: 1px solid #404041;
}
.paginationActive a {
  color: #ffffff;
  transition: 0.3s;
  background-color: #000214;
}
