.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.paginationButtons a {
  padding: 10px;
  margin: 9px;
  border-radius: 100%;
  border: 1px solid #000214;
  color: #000214;
  cursor: pointer;
  transition: 0.3s;
}

.paginationButtons a:hover {
  color: #ffffff;
  transition: 0.3s;
  background-color: #404041;
  border: 1px solid #ffffff;
}
.paginationActive a {
  color: #ffffff;
  transition: 0.3s;
  background-color: #000214;
}
